@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
.kc-btn, .news .content .left-content .searching i {
  display: block;
  padding: 15px 20px;
  font-size: 15px;
  font-size: 15px;
  border-radius: 10px;
  border: none;
  font-size: 15px;
  width: fit-content;
  transition: 0.2s;
}
.kc-btn:hover, .news .content .left-content .searching i:hover {
  scale: 1.02;
  transition: 0.2s;
}
.kc-btn:active, .news .content .left-content .searching i:active {
  scale: 0.98;
  transition: 0.2s;
}

.btn-mark-1 {
  background-color: #0d1b2e;
  color: white;
}

.kc-txt-blue {
  color: #0076fe;
}

.kc-txt-White {
  color: #ffffff;
}

.kc-txt-dark {
  color: #0d1b2e;
}

.kc-txt-gray {
  color: #6a7b93;
}

.kc-txt-Bluish-white {
  color: #f5f9ff;
}

.kc-txt-border-color {
  color: #dfe2e6;
}

.kc-bg-blue {
  background-color: #0076fe;
}

.kc-bg-White {
  background-color: #ffffff;
}

.kc-bg-dark {
  background-color: #0d1b2e;
}

.kc-bg-gray {
  background-color: #6a7b93;
}

.kc-bg-Bluish-white {
  background-color: #f5f9ff;
}

.kc-bg-border-color {
  background-color: #dfe2e6;
}

.kc-fs-58 {
  font-size: 58px;
}

.kc-fs-48 {
  font-size: 48px;
}

.kc-fs-44 {
  font-size: 44px;
}

.kc-fs-40 {
  font-size: 40px;
}

.kc-fs-34 {
  font-size: 34px;
}

.kc-fs-32 {
  font-size: 32px;
}

.kc-fs-24 {
  font-size: 24px;
}

.kc-fs-20 {
  font-size: 20px;
}

.kc-fs-18 {
  font-size: 18px;
}

.kc-fs-17 {
  font-size: 17px;
}

.kc-fs-16, .help .accordion-button {
  font-size: 16px;
}

.kc-fs-14 {
  font-size: 14px;
}

.kc-fs-13 {
  font-size: 13px;
}

.kc-fs-11 {
  font-size: 11px;
}

.kc-fw-100 {
  font-weight: 100;
}

.kc-fw-200 {
  font-weight: 200;
}

.kc-fw-300 {
  font-weight: 300;
}

.kc-fw-400, .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p {
  font-weight: 400;
}

.kc-fw-500 {
  font-weight: 500;
}

.kc-fw-600, .help .accordion-button, .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
  font-weight: 600;
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.kc-p-1 {
  padding: 5px;
}

.kc-pt-1 {
  padding-top: 5px;
}

.kc-pr-1 {
  padding-right: 5px;
}

.kc-pb-1 {
  padding-bottom: 5px;
}

.kc-pl-1 {
  padding-left: 5px;
}

.kc-px-1 {
  padding-right: 5px;
  padding-left: 5px;
}

.kc-py-1 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.kc-m-1 {
  margin: 5px;
}

.kc-mt-1 {
  margin-top: 5px;
}

.kc-mr-1 {
  margin-right: 5px;
}

.kc-mb-1 {
  margin-bottom: 5px;
}

.kc-ml-1 {
  margin-left: 5px;
}

.kc-mx-1 {
  margin-left: 5px;
  margin-right: 5px;
}

.kc-my-1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.kc-p-2 {
  padding: 10px;
}

.kc-pt-2 {
  padding-top: 10px;
}

.kc-pr-2 {
  padding-right: 10px;
}

.kc-pb-2 {
  padding-bottom: 10px;
}

.kc-pl-2 {
  padding-left: 10px;
}

.kc-px-2 {
  padding-right: 10px;
  padding-left: 10px;
}

.kc-py-2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.kc-m-2 {
  margin: 10px;
}

.kc-mt-2 {
  margin-top: 10px;
}

.kc-mr-2 {
  margin-right: 10px;
}

.kc-mb-2 {
  margin-bottom: 10px;
}

.kc-ml-2 {
  margin-left: 10px;
}

.kc-mx-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.kc-my-2 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.kc-p-3 {
  padding: 15px;
}

.kc-pt-3 {
  padding-top: 15px;
}

.kc-pr-3 {
  padding-right: 15px;
}

.kc-pb-3 {
  padding-bottom: 15px;
}

.kc-pl-3 {
  padding-left: 15px;
}

.kc-px-3 {
  padding-right: 15px;
  padding-left: 15px;
}

.kc-py-3 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.kc-m-3 {
  margin: 15px;
}

.kc-mt-3 {
  margin-top: 15px;
}

.kc-mr-3 {
  margin-right: 15px;
}

.kc-mb-3 {
  margin-bottom: 15px;
}

.kc-ml-3 {
  margin-left: 15px;
}

.kc-mx-3 {
  margin-left: 15px;
  margin-right: 15px;
}

.kc-my-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.kc-p-4 {
  padding: 20px;
}

.kc-pt-4 {
  padding-top: 20px;
}

.kc-pr-4 {
  padding-right: 20px;
}

.kc-pb-4 {
  padding-bottom: 20px;
}

.kc-pl-4 {
  padding-left: 20px;
}

.kc-px-4 {
  padding-right: 20px;
  padding-left: 20px;
}

.kc-py-4 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.kc-m-4 {
  margin: 20px;
}

.kc-mt-4 {
  margin-top: 20px;
}

.kc-mr-4 {
  margin-right: 20px;
}

.kc-mb-4 {
  margin-bottom: 20px;
}

.kc-ml-4 {
  margin-left: 20px;
}

.kc-mx-4 {
  margin-left: 20px;
  margin-right: 20px;
}

.kc-my-4 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.kc-p-5 {
  padding: 25px;
}

.kc-pt-5 {
  padding-top: 25px;
}

.kc-pr-5 {
  padding-right: 25px;
}

.kc-pb-5 {
  padding-bottom: 25px;
}

.kc-pl-5 {
  padding-left: 25px;
}

.kc-px-5 {
  padding-right: 25px;
  padding-left: 25px;
}

.kc-py-5 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.kc-m-5 {
  margin: 25px;
}

.kc-mt-5 {
  margin-top: 25px;
}

.kc-mr-5 {
  margin-right: 25px;
}

.kc-mb-5 {
  margin-bottom: 25px;
}

.kc-ml-5 {
  margin-left: 25px;
}

.kc-mx-5 {
  margin-left: 25px;
  margin-right: 25px;
}

.kc-my-5 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.kc-p-6 {
  padding: 30px;
}

.kc-pt-6 {
  padding-top: 30px;
}

.kc-pr-6 {
  padding-right: 30px;
}

.kc-pb-6 {
  padding-bottom: 30px;
}

.kc-pl-6 {
  padding-left: 30px;
}

.kc-px-6 {
  padding-right: 30px;
  padding-left: 30px;
}

.kc-py-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.kc-m-6 {
  margin: 30px;
}

.kc-mt-6 {
  margin-top: 30px;
}

.kc-mr-6 {
  margin-right: 30px;
}

.kc-mb-6 {
  margin-bottom: 30px;
}

.kc-ml-6 {
  margin-left: 30px;
}

.kc-mx-6 {
  margin-left: 30px;
  margin-right: 30px;
}

.kc-my-6 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.kc-p-7 {
  padding: 35px;
}

.kc-pt-7 {
  padding-top: 35px;
}

.kc-pr-7 {
  padding-right: 35px;
}

.kc-pb-7 {
  padding-bottom: 35px;
}

.kc-pl-7 {
  padding-left: 35px;
}

.kc-px-7 {
  padding-right: 35px;
  padding-left: 35px;
}

.kc-py-7 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.kc-m-7 {
  margin: 35px;
}

.kc-mt-7 {
  margin-top: 35px;
}

.kc-mr-7 {
  margin-right: 35px;
}

.kc-mb-7 {
  margin-bottom: 35px;
}

.kc-ml-7 {
  margin-left: 35px;
}

.kc-mx-7 {
  margin-left: 35px;
  margin-right: 35px;
}

.kc-my-7 {
  margin-top: 35px;
  margin-bottom: 35px;
}

.kc-p-8 {
  padding: 40px;
}

.kc-pt-8 {
  padding-top: 40px;
}

.kc-pr-8 {
  padding-right: 40px;
}

.kc-pb-8 {
  padding-bottom: 40px;
}

.kc-pl-8 {
  padding-left: 40px;
}

.kc-px-8 {
  padding-right: 40px;
  padding-left: 40px;
}

.kc-py-8 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.kc-m-8 {
  margin: 40px;
}

.kc-mt-8 {
  margin-top: 40px;
}

.kc-mr-8 {
  margin-right: 40px;
}

.kc-mb-8 {
  margin-bottom: 40px;
}

.kc-ml-8 {
  margin-left: 40px;
}

.kc-mx-8 {
  margin-left: 40px;
  margin-right: 40px;
}

.kc-my-8 {
  margin-top: 40px;
  margin-bottom: 40px;
}

.kc-p-9 {
  padding: 45px;
}

.kc-pt-9 {
  padding-top: 45px;
}

.kc-pr-9 {
  padding-right: 45px;
}

.kc-pb-9 {
  padding-bottom: 45px;
}

.kc-pl-9 {
  padding-left: 45px;
}

.kc-px-9 {
  padding-right: 45px;
  padding-left: 45px;
}

.kc-py-9 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.kc-m-9 {
  margin: 45px;
}

.kc-mt-9 {
  margin-top: 45px;
}

.kc-mr-9 {
  margin-right: 45px;
}

.kc-mb-9 {
  margin-bottom: 45px;
}

.kc-ml-9 {
  margin-left: 45px;
}

.kc-mx-9 {
  margin-left: 45px;
  margin-right: 45px;
}

.kc-my-9 {
  margin-top: 45px;
  margin-bottom: 45px;
}

.kc-p-10 {
  padding: 50px;
}

.kc-pt-10 {
  padding-top: 50px;
}

.kc-pr-10 {
  padding-right: 50px;
}

.kc-pb-10 {
  padding-bottom: 50px;
}

.kc-pl-10 {
  padding-left: 50px;
}

.kc-px-10 {
  padding-right: 50px;
  padding-left: 50px;
}

.kc-py-10 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.kc-m-10 {
  margin: 50px;
}

.kc-mt-10 {
  margin-top: 50px;
}

.kc-mr-10 {
  margin-right: 50px;
}

.kc-mb-10 {
  margin-bottom: 50px;
}

.kc-ml-10 {
  margin-left: 50px;
}

.kc-mx-10 {
  margin-left: 50px;
  margin-right: 50px;
}

.kc-my-10 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.kc-p-11 {
  padding: 55px;
}

.kc-pt-11 {
  padding-top: 55px;
}

.kc-pr-11 {
  padding-right: 55px;
}

.kc-pb-11 {
  padding-bottom: 55px;
}

.kc-pl-11 {
  padding-left: 55px;
}

.kc-px-11 {
  padding-right: 55px;
  padding-left: 55px;
}

.kc-py-11 {
  padding-top: 55px;
  padding-bottom: 55px;
}

.kc-m-11 {
  margin: 55px;
}

.kc-mt-11 {
  margin-top: 55px;
}

.kc-mr-11 {
  margin-right: 55px;
}

.kc-mb-11 {
  margin-bottom: 55px;
}

.kc-ml-11 {
  margin-left: 55px;
}

.kc-mx-11 {
  margin-left: 55px;
  margin-right: 55px;
}

.kc-my-11 {
  margin-top: 55px;
  margin-bottom: 55px;
}

.kc-p-12 {
  padding: 60px;
}

.kc-pt-12 {
  padding-top: 60px;
}

.kc-pr-12 {
  padding-right: 60px;
}

.kc-pb-12 {
  padding-bottom: 60px;
}

.kc-pl-12 {
  padding-left: 60px;
}

.kc-px-12 {
  padding-right: 60px;
  padding-left: 60px;
}

.kc-py-12 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.kc-m-12 {
  margin: 60px;
}

.kc-mt-12 {
  margin-top: 60px;
}

.kc-mr-12 {
  margin-right: 60px;
}

.kc-mb-12 {
  margin-bottom: 60px;
}

.kc-ml-12 {
  margin-left: 60px;
}

.kc-mx-12 {
  margin-left: 60px;
  margin-right: 60px;
}

.kc-my-12 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.kc-p-13 {
  padding: 65px;
}

.kc-pt-13 {
  padding-top: 65px;
}

.kc-pr-13 {
  padding-right: 65px;
}

.kc-pb-13 {
  padding-bottom: 65px;
}

.kc-pl-13 {
  padding-left: 65px;
}

.kc-px-13 {
  padding-right: 65px;
  padding-left: 65px;
}

.kc-py-13 {
  padding-top: 65px;
  padding-bottom: 65px;
}

.kc-m-13 {
  margin: 65px;
}

.kc-mt-13 {
  margin-top: 65px;
}

.kc-mr-13 {
  margin-right: 65px;
}

.kc-mb-13 {
  margin-bottom: 65px;
}

.kc-ml-13 {
  margin-left: 65px;
}

.kc-mx-13 {
  margin-left: 65px;
  margin-right: 65px;
}

.kc-my-13 {
  margin-top: 65px;
  margin-bottom: 65px;
}

.kc-p-14 {
  padding: 70px;
}

.kc-pt-14 {
  padding-top: 70px;
}

.kc-pr-14 {
  padding-right: 70px;
}

.kc-pb-14 {
  padding-bottom: 70px;
}

.kc-pl-14 {
  padding-left: 70px;
}

.kc-px-14 {
  padding-right: 70px;
  padding-left: 70px;
}

.kc-py-14 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.kc-m-14 {
  margin: 70px;
}

.kc-mt-14 {
  margin-top: 70px;
}

.kc-mr-14 {
  margin-right: 70px;
}

.kc-mb-14 {
  margin-bottom: 70px;
}

.kc-ml-14 {
  margin-left: 70px;
}

.kc-mx-14 {
  margin-left: 70px;
  margin-right: 70px;
}

.kc-my-14 {
  margin-top: 70px;
  margin-bottom: 70px;
}

.kc-p-15 {
  padding: 75px;
}

.kc-pt-15 {
  padding-top: 75px;
}

.kc-pr-15 {
  padding-right: 75px;
}

.kc-pb-15 {
  padding-bottom: 75px;
}

.kc-pl-15 {
  padding-left: 75px;
}

.kc-px-15 {
  padding-right: 75px;
  padding-left: 75px;
}

.kc-py-15 {
  padding-top: 75px;
  padding-bottom: 75px;
}

.kc-m-15 {
  margin: 75px;
}

.kc-mt-15 {
  margin-top: 75px;
}

.kc-mr-15 {
  margin-right: 75px;
}

.kc-mb-15 {
  margin-bottom: 75px;
}

.kc-ml-15 {
  margin-left: 75px;
}

.kc-mx-15 {
  margin-left: 75px;
  margin-right: 75px;
}

.kc-my-15 {
  margin-top: 75px;
  margin-bottom: 75px;
}

.kc-p-16 {
  padding: 80px;
}

.kc-pt-16 {
  padding-top: 80px;
}

.kc-pr-16 {
  padding-right: 80px;
}

.kc-pb-16 {
  padding-bottom: 80px;
}

.kc-pl-16 {
  padding-left: 80px;
}

.kc-px-16 {
  padding-right: 80px;
  padding-left: 80px;
}

.kc-py-16 {
  padding-top: 80px;
  padding-bottom: 80px;
}

.kc-m-16 {
  margin: 80px;
}

.kc-mt-16 {
  margin-top: 80px;
}

.kc-mr-16 {
  margin-right: 80px;
}

.kc-mb-16 {
  margin-bottom: 80px;
}

.kc-ml-16 {
  margin-left: 80px;
}

.kc-mx-16 {
  margin-left: 80px;
  margin-right: 80px;
}

.kc-my-16 {
  margin-top: 80px;
  margin-bottom: 80px;
}

.kc-p-17 {
  padding: 85px;
}

.kc-pt-17 {
  padding-top: 85px;
}

.kc-pr-17 {
  padding-right: 85px;
}

.kc-pb-17 {
  padding-bottom: 85px;
}

.kc-pl-17 {
  padding-left: 85px;
}

.kc-px-17 {
  padding-right: 85px;
  padding-left: 85px;
}

.kc-py-17 {
  padding-top: 85px;
  padding-bottom: 85px;
}

.kc-m-17 {
  margin: 85px;
}

.kc-mt-17 {
  margin-top: 85px;
}

.kc-mr-17 {
  margin-right: 85px;
}

.kc-mb-17 {
  margin-bottom: 85px;
}

.kc-ml-17 {
  margin-left: 85px;
}

.kc-mx-17 {
  margin-left: 85px;
  margin-right: 85px;
}

.kc-my-17 {
  margin-top: 85px;
  margin-bottom: 85px;
}

.kc-p-18 {
  padding: 90px;
}

.kc-pt-18 {
  padding-top: 90px;
}

.kc-pr-18 {
  padding-right: 90px;
}

.kc-pb-18 {
  padding-bottom: 90px;
}

.kc-pl-18 {
  padding-left: 90px;
}

.kc-px-18 {
  padding-right: 90px;
  padding-left: 90px;
}

.kc-py-18 {
  padding-top: 90px;
  padding-bottom: 90px;
}

.kc-m-18 {
  margin: 90px;
}

.kc-mt-18 {
  margin-top: 90px;
}

.kc-mr-18 {
  margin-right: 90px;
}

.kc-mb-18 {
  margin-bottom: 90px;
}

.kc-ml-18 {
  margin-left: 90px;
}

.kc-mx-18 {
  margin-left: 90px;
  margin-right: 90px;
}

.kc-my-18 {
  margin-top: 90px;
  margin-bottom: 90px;
}

.kc-p-19 {
  padding: 95px;
}

.kc-pt-19 {
  padding-top: 95px;
}

.kc-pr-19 {
  padding-right: 95px;
}

.kc-pb-19 {
  padding-bottom: 95px;
}

.kc-pl-19 {
  padding-left: 95px;
}

.kc-px-19 {
  padding-right: 95px;
  padding-left: 95px;
}

.kc-py-19 {
  padding-top: 95px;
  padding-bottom: 95px;
}

.kc-m-19 {
  margin: 95px;
}

.kc-mt-19 {
  margin-top: 95px;
}

.kc-mr-19 {
  margin-right: 95px;
}

.kc-mb-19 {
  margin-bottom: 95px;
}

.kc-ml-19 {
  margin-left: 95px;
}

.kc-mx-19 {
  margin-left: 95px;
  margin-right: 95px;
}

.kc-my-19 {
  margin-top: 95px;
  margin-bottom: 95px;
}

.kc-p-20 {
  padding: 100px;
}

.kc-pt-20 {
  padding-top: 100px;
}

.kc-pr-20 {
  padding-right: 100px;
}

.kc-pb-20 {
  padding-bottom: 100px;
}

.kc-pl-20 {
  padding-left: 100px;
}

.kc-px-20 {
  padding-right: 100px;
  padding-left: 100px;
}

.kc-py-20 {
  padding-top: 100px;
  padding-bottom: 100px;
}

.kc-m-20 {
  margin: 100px;
}

.kc-mt-20 {
  margin-top: 100px;
}

.kc-mr-20 {
  margin-right: 100px;
}

.kc-mb-20 {
  margin-bottom: 100px;
}

.kc-ml-20 {
  margin-left: 100px;
}

.kc-mx-20 {
  margin-left: 100px;
  margin-right: 100px;
}

.kc-my-20 {
  margin-top: 100px;
  margin-bottom: 100px;
}

.kc-p-21 {
  padding: 105px;
}

.kc-pt-21 {
  padding-top: 105px;
}

.kc-pr-21 {
  padding-right: 105px;
}

.kc-pb-21 {
  padding-bottom: 105px;
}

.kc-pl-21 {
  padding-left: 105px;
}

.kc-px-21 {
  padding-right: 105px;
  padding-left: 105px;
}

.kc-py-21 {
  padding-top: 105px;
  padding-bottom: 105px;
}

.kc-m-21 {
  margin: 105px;
}

.kc-mt-21 {
  margin-top: 105px;
}

.kc-mr-21 {
  margin-right: 105px;
}

.kc-mb-21 {
  margin-bottom: 105px;
}

.kc-ml-21 {
  margin-left: 105px;
}

.kc-mx-21 {
  margin-left: 105px;
  margin-right: 105px;
}

.kc-my-21 {
  margin-top: 105px;
  margin-bottom: 105px;
}

.kc-p-22 {
  padding: 110px;
}

.kc-pt-22 {
  padding-top: 110px;
}

.kc-pr-22 {
  padding-right: 110px;
}

.kc-pb-22 {
  padding-bottom: 110px;
}

.kc-pl-22 {
  padding-left: 110px;
}

.kc-px-22 {
  padding-right: 110px;
  padding-left: 110px;
}

.kc-py-22 {
  padding-top: 110px;
  padding-bottom: 110px;
}

.kc-m-22 {
  margin: 110px;
}

.kc-mt-22 {
  margin-top: 110px;
}

.kc-mr-22 {
  margin-right: 110px;
}

.kc-mb-22 {
  margin-bottom: 110px;
}

.kc-ml-22 {
  margin-left: 110px;
}

.kc-mx-22 {
  margin-left: 110px;
  margin-right: 110px;
}

.kc-my-22 {
  margin-top: 110px;
  margin-bottom: 110px;
}

.kc-p-23 {
  padding: 115px;
}

.kc-pt-23 {
  padding-top: 115px;
}

.kc-pr-23 {
  padding-right: 115px;
}

.kc-pb-23 {
  padding-bottom: 115px;
}

.kc-pl-23 {
  padding-left: 115px;
}

.kc-px-23 {
  padding-right: 115px;
  padding-left: 115px;
}

.kc-py-23 {
  padding-top: 115px;
  padding-bottom: 115px;
}

.kc-m-23 {
  margin: 115px;
}

.kc-mt-23 {
  margin-top: 115px;
}

.kc-mr-23 {
  margin-right: 115px;
}

.kc-mb-23 {
  margin-bottom: 115px;
}

.kc-ml-23 {
  margin-left: 115px;
}

.kc-mx-23 {
  margin-left: 115px;
  margin-right: 115px;
}

.kc-my-23 {
  margin-top: 115px;
  margin-bottom: 115px;
}

.kc-p-24 {
  padding: 120px;
}

.kc-pt-24 {
  padding-top: 120px;
}

.kc-pr-24 {
  padding-right: 120px;
}

.kc-pb-24 {
  padding-bottom: 120px;
}

.kc-pl-24 {
  padding-left: 120px;
}

.kc-px-24 {
  padding-right: 120px;
  padding-left: 120px;
}

.kc-py-24 {
  padding-top: 120px;
  padding-bottom: 120px;
}

.kc-m-24 {
  margin: 120px;
}

.kc-mt-24 {
  margin-top: 120px;
}

.kc-mr-24 {
  margin-right: 120px;
}

.kc-mb-24 {
  margin-bottom: 120px;
}

.kc-ml-24 {
  margin-left: 120px;
}

.kc-mx-24 {
  margin-left: 120px;
  margin-right: 120px;
}

.kc-my-24 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.kc-p-25 {
  padding: 125px;
}

.kc-pt-25 {
  padding-top: 125px;
}

.kc-pr-25 {
  padding-right: 125px;
}

.kc-pb-25 {
  padding-bottom: 125px;
}

.kc-pl-25 {
  padding-left: 125px;
}

.kc-px-25 {
  padding-right: 125px;
  padding-left: 125px;
}

.kc-py-25 {
  padding-top: 125px;
  padding-bottom: 125px;
}

.kc-m-25 {
  margin: 125px;
}

.kc-mt-25 {
  margin-top: 125px;
}

.kc-mr-25 {
  margin-right: 125px;
}

.kc-mb-25 {
  margin-bottom: 125px;
}

.kc-ml-25 {
  margin-left: 125px;
}

.kc-mx-25 {
  margin-left: 125px;
  margin-right: 125px;
}

.kc-my-25 {
  margin-top: 125px;
  margin-bottom: 125px;
}

.kc-p-26 {
  padding: 130px;
}

.kc-pt-26 {
  padding-top: 130px;
}

.kc-pr-26 {
  padding-right: 130px;
}

.kc-pb-26 {
  padding-bottom: 130px;
}

.kc-pl-26 {
  padding-left: 130px;
}

.kc-px-26 {
  padding-right: 130px;
  padding-left: 130px;
}

.kc-py-26 {
  padding-top: 130px;
  padding-bottom: 130px;
}

.kc-m-26 {
  margin: 130px;
}

.kc-mt-26 {
  margin-top: 130px;
}

.kc-mr-26 {
  margin-right: 130px;
}

.kc-mb-26 {
  margin-bottom: 130px;
}

.kc-ml-26 {
  margin-left: 130px;
}

.kc-mx-26 {
  margin-left: 130px;
  margin-right: 130px;
}

.kc-my-26 {
  margin-top: 130px;
  margin-bottom: 130px;
}

.kc-p-27 {
  padding: 135px;
}

.kc-pt-27 {
  padding-top: 135px;
}

.kc-pr-27 {
  padding-right: 135px;
}

.kc-pb-27 {
  padding-bottom: 135px;
}

.kc-pl-27 {
  padding-left: 135px;
}

.kc-px-27 {
  padding-right: 135px;
  padding-left: 135px;
}

.kc-py-27 {
  padding-top: 135px;
  padding-bottom: 135px;
}

.kc-m-27 {
  margin: 135px;
}

.kc-mt-27 {
  margin-top: 135px;
}

.kc-mr-27 {
  margin-right: 135px;
}

.kc-mb-27 {
  margin-bottom: 135px;
}

.kc-ml-27 {
  margin-left: 135px;
}

.kc-mx-27 {
  margin-left: 135px;
  margin-right: 135px;
}

.kc-my-27 {
  margin-top: 135px;
  margin-bottom: 135px;
}

.kc-p-28 {
  padding: 140px;
}

.kc-pt-28 {
  padding-top: 140px;
}

.kc-pr-28 {
  padding-right: 140px;
}

.kc-pb-28 {
  padding-bottom: 140px;
}

.kc-pl-28 {
  padding-left: 140px;
}

.kc-px-28 {
  padding-right: 140px;
  padding-left: 140px;
}

.kc-py-28 {
  padding-top: 140px;
  padding-bottom: 140px;
}

.kc-m-28 {
  margin: 140px;
}

.kc-mt-28 {
  margin-top: 140px;
}

.kc-mr-28 {
  margin-right: 140px;
}

.kc-mb-28 {
  margin-bottom: 140px;
}

.kc-ml-28 {
  margin-left: 140px;
}

.kc-mx-28 {
  margin-left: 140px;
  margin-right: 140px;
}

.kc-my-28 {
  margin-top: 140px;
  margin-bottom: 140px;
}

.kc-p-29 {
  padding: 145px;
}

.kc-pt-29 {
  padding-top: 145px;
}

.kc-pr-29 {
  padding-right: 145px;
}

.kc-pb-29 {
  padding-bottom: 145px;
}

.kc-pl-29 {
  padding-left: 145px;
}

.kc-px-29 {
  padding-right: 145px;
  padding-left: 145px;
}

.kc-py-29 {
  padding-top: 145px;
  padding-bottom: 145px;
}

.kc-m-29 {
  margin: 145px;
}

.kc-mt-29 {
  margin-top: 145px;
}

.kc-mr-29 {
  margin-right: 145px;
}

.kc-mb-29 {
  margin-bottom: 145px;
}

.kc-ml-29 {
  margin-left: 145px;
}

.kc-mx-29 {
  margin-left: 145px;
  margin-right: 145px;
}

.kc-my-29 {
  margin-top: 145px;
  margin-bottom: 145px;
}

.kc-p-30 {
  padding: 150px;
}

.kc-pt-30 {
  padding-top: 150px;
}

.kc-pr-30 {
  padding-right: 150px;
}

.kc-pb-30 {
  padding-bottom: 150px;
}

.kc-pl-30 {
  padding-left: 150px;
}

.kc-px-30 {
  padding-right: 150px;
  padding-left: 150px;
}

.kc-py-30 {
  padding-top: 150px;
  padding-bottom: 150px;
}

.kc-m-30 {
  margin: 150px;
}

.kc-mt-30 {
  margin-top: 150px;
}

.kc-mr-30 {
  margin-right: 150px;
}

.kc-mb-30 {
  margin-bottom: 150px;
}

.kc-ml-30 {
  margin-left: 150px;
}

.kc-mx-30 {
  margin-left: 150px;
  margin-right: 150px;
}

.kc-my-30 {
  margin-top: 150px;
  margin-bottom: 150px;
}

.kc-p-31 {
  padding: 155px;
}

.kc-pt-31 {
  padding-top: 155px;
}

.kc-pr-31 {
  padding-right: 155px;
}

.kc-pb-31 {
  padding-bottom: 155px;
}

.kc-pl-31 {
  padding-left: 155px;
}

.kc-px-31 {
  padding-right: 155px;
  padding-left: 155px;
}

.kc-py-31 {
  padding-top: 155px;
  padding-bottom: 155px;
}

.kc-m-31 {
  margin: 155px;
}

.kc-mt-31 {
  margin-top: 155px;
}

.kc-mr-31 {
  margin-right: 155px;
}

.kc-mb-31 {
  margin-bottom: 155px;
}

.kc-ml-31 {
  margin-left: 155px;
}

.kc-mx-31 {
  margin-left: 155px;
  margin-right: 155px;
}

.kc-my-31 {
  margin-top: 155px;
  margin-bottom: 155px;
}

.kc-p-32 {
  padding: 160px;
}

.kc-pt-32 {
  padding-top: 160px;
}

.kc-pr-32 {
  padding-right: 160px;
}

.kc-pb-32 {
  padding-bottom: 160px;
}

.kc-pl-32 {
  padding-left: 160px;
}

.kc-px-32 {
  padding-right: 160px;
  padding-left: 160px;
}

.kc-py-32 {
  padding-top: 160px;
  padding-bottom: 160px;
}

.kc-m-32 {
  margin: 160px;
}

.kc-mt-32 {
  margin-top: 160px;
}

.kc-mr-32 {
  margin-right: 160px;
}

.kc-mb-32 {
  margin-bottom: 160px;
}

.kc-ml-32 {
  margin-left: 160px;
}

.kc-mx-32 {
  margin-left: 160px;
  margin-right: 160px;
}

.kc-my-32 {
  margin-top: 160px;
  margin-bottom: 160px;
}

.kc-p-33 {
  padding: 165px;
}

.kc-pt-33 {
  padding-top: 165px;
}

.kc-pr-33 {
  padding-right: 165px;
}

.kc-pb-33 {
  padding-bottom: 165px;
}

.kc-pl-33 {
  padding-left: 165px;
}

.kc-px-33 {
  padding-right: 165px;
  padding-left: 165px;
}

.kc-py-33 {
  padding-top: 165px;
  padding-bottom: 165px;
}

.kc-m-33 {
  margin: 165px;
}

.kc-mt-33 {
  margin-top: 165px;
}

.kc-mr-33 {
  margin-right: 165px;
}

.kc-mb-33 {
  margin-bottom: 165px;
}

.kc-ml-33 {
  margin-left: 165px;
}

.kc-mx-33 {
  margin-left: 165px;
  margin-right: 165px;
}

.kc-my-33 {
  margin-top: 165px;
  margin-bottom: 165px;
}

.kc-p-34 {
  padding: 170px;
}

.kc-pt-34 {
  padding-top: 170px;
}

.kc-pr-34 {
  padding-right: 170px;
}

.kc-pb-34 {
  padding-bottom: 170px;
}

.kc-pl-34 {
  padding-left: 170px;
}

.kc-px-34 {
  padding-right: 170px;
  padding-left: 170px;
}

.kc-py-34 {
  padding-top: 170px;
  padding-bottom: 170px;
}

.kc-m-34 {
  margin: 170px;
}

.kc-mt-34 {
  margin-top: 170px;
}

.kc-mr-34 {
  margin-right: 170px;
}

.kc-mb-34 {
  margin-bottom: 170px;
}

.kc-ml-34 {
  margin-left: 170px;
}

.kc-mx-34 {
  margin-left: 170px;
  margin-right: 170px;
}

.kc-my-34 {
  margin-top: 170px;
  margin-bottom: 170px;
}

.kc-p-35 {
  padding: 175px;
}

.kc-pt-35 {
  padding-top: 175px;
}

.kc-pr-35 {
  padding-right: 175px;
}

.kc-pb-35 {
  padding-bottom: 175px;
}

.kc-pl-35 {
  padding-left: 175px;
}

.kc-px-35 {
  padding-right: 175px;
  padding-left: 175px;
}

.kc-py-35 {
  padding-top: 175px;
  padding-bottom: 175px;
}

.kc-m-35 {
  margin: 175px;
}

.kc-mt-35 {
  margin-top: 175px;
}

.kc-mr-35 {
  margin-right: 175px;
}

.kc-mb-35 {
  margin-bottom: 175px;
}

.kc-ml-35 {
  margin-left: 175px;
}

.kc-mx-35 {
  margin-left: 175px;
  margin-right: 175px;
}

.kc-my-35 {
  margin-top: 175px;
  margin-bottom: 175px;
}

.kc-p-36 {
  padding: 180px;
}

.kc-pt-36 {
  padding-top: 180px;
}

.kc-pr-36 {
  padding-right: 180px;
}

.kc-pb-36 {
  padding-bottom: 180px;
}

.kc-pl-36 {
  padding-left: 180px;
}

.kc-px-36 {
  padding-right: 180px;
  padding-left: 180px;
}

.kc-py-36 {
  padding-top: 180px;
  padding-bottom: 180px;
}

.kc-m-36 {
  margin: 180px;
}

.kc-mt-36 {
  margin-top: 180px;
}

.kc-mr-36 {
  margin-right: 180px;
}

.kc-mb-36 {
  margin-bottom: 180px;
}

.kc-ml-36 {
  margin-left: 180px;
}

.kc-mx-36 {
  margin-left: 180px;
  margin-right: 180px;
}

.kc-my-36 {
  margin-top: 180px;
  margin-bottom: 180px;
}

.kc-p-37 {
  padding: 185px;
}

.kc-pt-37 {
  padding-top: 185px;
}

.kc-pr-37 {
  padding-right: 185px;
}

.kc-pb-37 {
  padding-bottom: 185px;
}

.kc-pl-37 {
  padding-left: 185px;
}

.kc-px-37 {
  padding-right: 185px;
  padding-left: 185px;
}

.kc-py-37 {
  padding-top: 185px;
  padding-bottom: 185px;
}

.kc-m-37 {
  margin: 185px;
}

.kc-mt-37 {
  margin-top: 185px;
}

.kc-mr-37 {
  margin-right: 185px;
}

.kc-mb-37 {
  margin-bottom: 185px;
}

.kc-ml-37 {
  margin-left: 185px;
}

.kc-mx-37 {
  margin-left: 185px;
  margin-right: 185px;
}

.kc-my-37 {
  margin-top: 185px;
  margin-bottom: 185px;
}

.kc-p-38 {
  padding: 190px;
}

.kc-pt-38 {
  padding-top: 190px;
}

.kc-pr-38 {
  padding-right: 190px;
}

.kc-pb-38 {
  padding-bottom: 190px;
}

.kc-pl-38 {
  padding-left: 190px;
}

.kc-px-38 {
  padding-right: 190px;
  padding-left: 190px;
}

.kc-py-38 {
  padding-top: 190px;
  padding-bottom: 190px;
}

.kc-m-38 {
  margin: 190px;
}

.kc-mt-38 {
  margin-top: 190px;
}

.kc-mr-38 {
  margin-right: 190px;
}

.kc-mb-38 {
  margin-bottom: 190px;
}

.kc-ml-38 {
  margin-left: 190px;
}

.kc-mx-38 {
  margin-left: 190px;
  margin-right: 190px;
}

.kc-my-38 {
  margin-top: 190px;
  margin-bottom: 190px;
}

.kc-p-39 {
  padding: 195px;
}

.kc-pt-39 {
  padding-top: 195px;
}

.kc-pr-39 {
  padding-right: 195px;
}

.kc-pb-39 {
  padding-bottom: 195px;
}

.kc-pl-39 {
  padding-left: 195px;
}

.kc-px-39 {
  padding-right: 195px;
  padding-left: 195px;
}

.kc-py-39 {
  padding-top: 195px;
  padding-bottom: 195px;
}

.kc-m-39 {
  margin: 195px;
}

.kc-mt-39 {
  margin-top: 195px;
}

.kc-mr-39 {
  margin-right: 195px;
}

.kc-mb-39 {
  margin-bottom: 195px;
}

.kc-ml-39 {
  margin-left: 195px;
}

.kc-mx-39 {
  margin-left: 195px;
  margin-right: 195px;
}

.kc-my-39 {
  margin-top: 195px;
  margin-bottom: 195px;
}

.kc-p-40 {
  padding: 200px;
}

.kc-pt-40 {
  padding-top: 200px;
}

.kc-pr-40 {
  padding-right: 200px;
}

.kc-pb-40 {
  padding-bottom: 200px;
}

.kc-pl-40 {
  padding-left: 200px;
}

.kc-px-40 {
  padding-right: 200px;
  padding-left: 200px;
}

.kc-py-40 {
  padding-top: 200px;
  padding-bottom: 200px;
}

.kc-m-40 {
  margin: 200px;
}

.kc-mt-40 {
  margin-top: 200px;
}

.kc-mr-40 {
  margin-right: 200px;
}

.kc-mb-40 {
  margin-bottom: 200px;
}

.kc-ml-40 {
  margin-left: 200px;
}

.kc-mx-40 {
  margin-left: 200px;
  margin-right: 200px;
}

.kc-my-40 {
  margin-top: 200px;
  margin-bottom: 200px;
}

.kc-p-41 {
  padding: 205px;
}

.kc-pt-41 {
  padding-top: 205px;
}

.kc-pr-41 {
  padding-right: 205px;
}

.kc-pb-41 {
  padding-bottom: 205px;
}

.kc-pl-41 {
  padding-left: 205px;
}

.kc-px-41 {
  padding-right: 205px;
  padding-left: 205px;
}

.kc-py-41 {
  padding-top: 205px;
  padding-bottom: 205px;
}

.kc-m-41 {
  margin: 205px;
}

.kc-mt-41 {
  margin-top: 205px;
}

.kc-mr-41 {
  margin-right: 205px;
}

.kc-mb-41 {
  margin-bottom: 205px;
}

.kc-ml-41 {
  margin-left: 205px;
}

.kc-mx-41 {
  margin-left: 205px;
  margin-right: 205px;
}

.kc-my-41 {
  margin-top: 205px;
  margin-bottom: 205px;
}

.kc-p-42 {
  padding: 210px;
}

.kc-pt-42 {
  padding-top: 210px;
}

.kc-pr-42 {
  padding-right: 210px;
}

.kc-pb-42 {
  padding-bottom: 210px;
}

.kc-pl-42 {
  padding-left: 210px;
}

.kc-px-42 {
  padding-right: 210px;
  padding-left: 210px;
}

.kc-py-42 {
  padding-top: 210px;
  padding-bottom: 210px;
}

.kc-m-42 {
  margin: 210px;
}

.kc-mt-42 {
  margin-top: 210px;
}

.kc-mr-42 {
  margin-right: 210px;
}

.kc-mb-42 {
  margin-bottom: 210px;
}

.kc-ml-42 {
  margin-left: 210px;
}

.kc-mx-42 {
  margin-left: 210px;
  margin-right: 210px;
}

.kc-my-42 {
  margin-top: 210px;
  margin-bottom: 210px;
}

.kc-p-43 {
  padding: 215px;
}

.kc-pt-43 {
  padding-top: 215px;
}

.kc-pr-43 {
  padding-right: 215px;
}

.kc-pb-43 {
  padding-bottom: 215px;
}

.kc-pl-43 {
  padding-left: 215px;
}

.kc-px-43 {
  padding-right: 215px;
  padding-left: 215px;
}

.kc-py-43 {
  padding-top: 215px;
  padding-bottom: 215px;
}

.kc-m-43 {
  margin: 215px;
}

.kc-mt-43 {
  margin-top: 215px;
}

.kc-mr-43 {
  margin-right: 215px;
}

.kc-mb-43 {
  margin-bottom: 215px;
}

.kc-ml-43 {
  margin-left: 215px;
}

.kc-mx-43 {
  margin-left: 215px;
  margin-right: 215px;
}

.kc-my-43 {
  margin-top: 215px;
  margin-bottom: 215px;
}

.kc-p-44 {
  padding: 220px;
}

.kc-pt-44 {
  padding-top: 220px;
}

.kc-pr-44 {
  padding-right: 220px;
}

.kc-pb-44 {
  padding-bottom: 220px;
}

.kc-pl-44 {
  padding-left: 220px;
}

.kc-px-44 {
  padding-right: 220px;
  padding-left: 220px;
}

.kc-py-44 {
  padding-top: 220px;
  padding-bottom: 220px;
}

.kc-m-44 {
  margin: 220px;
}

.kc-mt-44 {
  margin-top: 220px;
}

.kc-mr-44 {
  margin-right: 220px;
}

.kc-mb-44 {
  margin-bottom: 220px;
}

.kc-ml-44 {
  margin-left: 220px;
}

.kc-mx-44 {
  margin-left: 220px;
  margin-right: 220px;
}

.kc-my-44 {
  margin-top: 220px;
  margin-bottom: 220px;
}

.kc-p-45 {
  padding: 225px;
}

.kc-pt-45 {
  padding-top: 225px;
}

.kc-pr-45 {
  padding-right: 225px;
}

.kc-pb-45 {
  padding-bottom: 225px;
}

.kc-pl-45 {
  padding-left: 225px;
}

.kc-px-45 {
  padding-right: 225px;
  padding-left: 225px;
}

.kc-py-45 {
  padding-top: 225px;
  padding-bottom: 225px;
}

.kc-m-45 {
  margin: 225px;
}

.kc-mt-45 {
  margin-top: 225px;
}

.kc-mr-45 {
  margin-right: 225px;
}

.kc-mb-45 {
  margin-bottom: 225px;
}

.kc-ml-45 {
  margin-left: 225px;
}

.kc-mx-45 {
  margin-left: 225px;
  margin-right: 225px;
}

.kc-my-45 {
  margin-top: 225px;
  margin-bottom: 225px;
}

.kc-p-46 {
  padding: 230px;
}

.kc-pt-46 {
  padding-top: 230px;
}

.kc-pr-46 {
  padding-right: 230px;
}

.kc-pb-46 {
  padding-bottom: 230px;
}

.kc-pl-46 {
  padding-left: 230px;
}

.kc-px-46 {
  padding-right: 230px;
  padding-left: 230px;
}

.kc-py-46 {
  padding-top: 230px;
  padding-bottom: 230px;
}

.kc-m-46 {
  margin: 230px;
}

.kc-mt-46 {
  margin-top: 230px;
}

.kc-mr-46 {
  margin-right: 230px;
}

.kc-mb-46 {
  margin-bottom: 230px;
}

.kc-ml-46 {
  margin-left: 230px;
}

.kc-mx-46 {
  margin-left: 230px;
  margin-right: 230px;
}

.kc-my-46 {
  margin-top: 230px;
  margin-bottom: 230px;
}

.kc-p-47 {
  padding: 235px;
}

.kc-pt-47 {
  padding-top: 235px;
}

.kc-pr-47 {
  padding-right: 235px;
}

.kc-pb-47 {
  padding-bottom: 235px;
}

.kc-pl-47 {
  padding-left: 235px;
}

.kc-px-47 {
  padding-right: 235px;
  padding-left: 235px;
}

.kc-py-47 {
  padding-top: 235px;
  padding-bottom: 235px;
}

.kc-m-47 {
  margin: 235px;
}

.kc-mt-47 {
  margin-top: 235px;
}

.kc-mr-47 {
  margin-right: 235px;
}

.kc-mb-47 {
  margin-bottom: 235px;
}

.kc-ml-47 {
  margin-left: 235px;
}

.kc-mx-47 {
  margin-left: 235px;
  margin-right: 235px;
}

.kc-my-47 {
  margin-top: 235px;
  margin-bottom: 235px;
}

.kc-p-48 {
  padding: 240px;
}

.kc-pt-48 {
  padding-top: 240px;
}

.kc-pr-48 {
  padding-right: 240px;
}

.kc-pb-48 {
  padding-bottom: 240px;
}

.kc-pl-48 {
  padding-left: 240px;
}

.kc-px-48 {
  padding-right: 240px;
  padding-left: 240px;
}

.kc-py-48 {
  padding-top: 240px;
  padding-bottom: 240px;
}

.kc-m-48 {
  margin: 240px;
}

.kc-mt-48 {
  margin-top: 240px;
}

.kc-mr-48 {
  margin-right: 240px;
}

.kc-mb-48 {
  margin-bottom: 240px;
}

.kc-ml-48 {
  margin-left: 240px;
}

.kc-mx-48 {
  margin-left: 240px;
  margin-right: 240px;
}

.kc-my-48 {
  margin-top: 240px;
  margin-bottom: 240px;
}

.kc-p-49 {
  padding: 245px;
}

.kc-pt-49 {
  padding-top: 245px;
}

.kc-pr-49 {
  padding-right: 245px;
}

.kc-pb-49 {
  padding-bottom: 245px;
}

.kc-pl-49 {
  padding-left: 245px;
}

.kc-px-49 {
  padding-right: 245px;
  padding-left: 245px;
}

.kc-py-49 {
  padding-top: 245px;
  padding-bottom: 245px;
}

.kc-m-49 {
  margin: 245px;
}

.kc-mt-49 {
  margin-top: 245px;
}

.kc-mr-49 {
  margin-right: 245px;
}

.kc-mb-49 {
  margin-bottom: 245px;
}

.kc-ml-49 {
  margin-left: 245px;
}

.kc-mx-49 {
  margin-left: 245px;
  margin-right: 245px;
}

.kc-my-49 {
  margin-top: 245px;
  margin-bottom: 245px;
}

.kc-p-50 {
  padding: 250px;
}

.kc-pt-50 {
  padding-top: 250px;
}

.kc-pr-50 {
  padding-right: 250px;
}

.kc-pb-50 {
  padding-bottom: 250px;
}

.kc-pl-50 {
  padding-left: 250px;
}

.kc-px-50 {
  padding-right: 250px;
  padding-left: 250px;
}

.kc-py-50 {
  padding-top: 250px;
  padding-bottom: 250px;
}

.kc-m-50 {
  margin: 250px;
}

.kc-mt-50 {
  margin-top: 250px;
}

.kc-mr-50 {
  margin-right: 250px;
}

.kc-mb-50 {
  margin-bottom: 250px;
}

.kc-ml-50 {
  margin-left: 250px;
}

.kc-mx-50 {
  margin-left: 250px;
  margin-right: 250px;
}

.kc-my-50 {
  margin-top: 250px;
  margin-bottom: 250px;
}

.sub-text-font-size-color {
  font-size: 17px;
  color: #0d1b2e;
}

.sub-section-extend .details, .home-page .s7 .details, .help .s7 .details, .news .s7 .details, .pricing .s7 .details, .feature .s7 .details, .home-page .s5 .details, .help .s5 .details, .news .s5 .details, .pricing .s5 .details, .feature .s5 .details, .home-page .s4 .details, .help .s4 .details, .news .s4 .details, .pricing .s4 .details, .feature .s4 .details, .home-page .s3 .details, .help .s3 .details, .news .s3 .details, .pricing .s3 .details, .feature .s3 .details {
  flex: 1;
}
.sub-section-extend .image-wrap, .home-page .s7 .image-wrap, .help .s7 .image-wrap, .news .s7 .image-wrap, .pricing .s7 .image-wrap, .feature .s7 .image-wrap, .home-page .s5 .image-wrap, .help .s5 .image-wrap, .news .s5 .image-wrap, .pricing .s5 .image-wrap, .feature .s5 .image-wrap, .home-page .s4 .image-wrap, .help .s4 .image-wrap, .news .s4 .image-wrap, .pricing .s4 .image-wrap, .feature .s4 .image-wrap, .home-page .s3 .image-wrap, .help .s3 .image-wrap, .news .s3 .image-wrap, .pricing .s3 .image-wrap, .feature .s3 .image-wrap {
  flex: 1;
}

.kc-shadow, .contact .content .item, .feature .content .item, .home-page .s2 .content .item, .help .s2 .content .item, .news .s2 .content .item, .pricing .s2 .content .item, .home-page .feature .content .item, .help .feature .content .item, .news .feature .content .item, .pricing .feature .content .item, .feature .s2 .content .item, .feature .feature .content .item {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.kc-card, .contact .content .item, .feature .content .item, .home-page .s2 .content .item, .help .s2 .content .item, .news .s2 .content .item, .pricing .s2 .content .item, .home-page .feature .content .item, .help .feature .content .item, .news .feature .content .item, .pricing .feature .content .item, .feature .s2 .content .item, .feature .feature .content .item {
  padding: inherit;
  background-color: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -7px balck;
  position: relative;
  top: 0;
  transition: 0.2s;
}
.kc-card:hover, .contact .content .item:hover, .feature .content .item:hover, .home-page .s2 .content .item:hover, .help .s2 .content .item:hover, .news .s2 .content .item:hover, .pricing .s2 .content .item:hover {
  top: -10px;
  transition: 0.2s;
}

.gradient-text {
  background-image: linear-gradient(90deg, #0076fe, #00d372);
  background-clip: text;
  color: transparent;
}

.kc-bg-gradient-1 {
  background-image: linear-gradient(90deg, #0076fe, #00d372);
}

.flex-1 {
  flex: 1;
}

.flex-2 {
  flex: 2;
}

.flex-3 {
  flex: 3;
}

.a-tag-1 {
  padding: 4px;
  border-radius: 10px;
  transition: 0.2s;
  color: #0d1b2e;
}
.a-tag-1:hover {
  background-color: rgba(15, 172, 240, 0.5);
  color: dodgerblue;
  transition: 0.2s;
}

.a-tag-2 {
  color: #0d1b2e;
  transition: 0.2s;
}
.a-tag-2:hover {
  border-bottom: 1px solid dodgerblue;
  color: dodgerblue;
}

.res-a, nav .navbar-nav a, .res-card-para {
  font-size: 14px;
}
@media only screen and (width≥768px) {
  .res-a, nav .navbar-nav a, .res-card-para {
    font-size: 16px;
  }
}

.res-heading, .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
  line-height: 1.2em;
  letter-spacing: -0.027em;
}
@media only screen and (width≥768px) {
  .res-heading, .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
    font-size: 22px;
  }
}
@media only screen and (width≥992px) {
  .res-heading, .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
    font-size: 58px;
  }
}

.res-subheading {
  font-size: 26px;
}
@media only screen and (width≥768px) {
  .res-subheading {
    font-size: 32px;
  }
}
@media only screen and (width≥992px) {
  .res-subheading {
    font-size: 48px;
  }
}

.res-para, .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p, .res-subpara, .help .accordion-body {
  font-size: 16px;
  letter-spacing: 0px;
  color: #6a7b93;
  font-weight: 400;
}
@media only screen and (width≥768px) {
  .res-para, .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p, .res-subpara, .help .accordion-body {
    font-size: 17px;
  }
}
@media only screen and (width≥992px) {
  .res-para, .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p, .res-subpara, .help .accordion-body {
    font-size: 18px;
  }
}

@media screen and (width >= 576px) {
  .heading-padding {
    padding: 0px 100px;
  }
}
@media screen and (width >= 768px) {
  .heading-padding {
    padding: 0px 150px;
  }
}
@media screen and (width >= 992px) {
  .heading-padding {
    padding: 0px 200px;
  }
}
@media screen and (width >= 1200px) {
  .heading-padding {
    padding: 0px 250px;
  }
}

@media screen and (width >= 576px) {
  .para-padding {
    padding: 0px 100px;
  }
}
@media screen and (width >= 768px) {
  .para-padding {
    padding: 0px 200px;
  }
}
@media screen and (width >= 992px) {
  .para-padding {
    padding: 0px 250px;
  }
}
@media screen and (width >= 1200px) {
  .para-padding {
    padding: 0px 300px;
  }
}

@media only screen and (width≥768px) {
  .res-subpara, .help .accordion-body {
    font-size: 18px;
  }
}

.my-icon {
  padding: 30px;
  font-size: 30px;
  margin-bottom: 25px;
  background-color: #f5f9ff;
}
.my-icon i {
  padding: 10px;
}

.res-card-heading {
  font-size: 12px;
}
@media only screen and (width≥768px) {
  .res-card-heading {
    font-size: 20px;
  }
}

.block-heading, .block-heading-dark {
  padding: 3px 20px;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 14px;
  max-width: fit-content;
  border-radius: 10px;
  background-color: #f5f9ff;
  color: dark;
}

.block-heading-dark {
  background-color: rgba(255, 255, 255, 0.0705882353);
}

.res-left-padding {
  padding-left: 0px;
}
@media screen and (width >= 768px) {
  .res-left-padding {
    padding-left: 100px;
  }
}
@media screen and (width >= 992px) {
  .res-left-padding {
    padding-left: 200px;
  }
}

.res-right-padding {
  padding-right: 0px;
}
@media screen and (width >= 768px) {
  .res-right-padding {
    padding-right: 100px;
  }
}
@media screen and (width >= 992px) {
  .res-right-padding {
    padding-right: 200px;
  }
}

.res-y-padding {
  padding-left: 0px;
  padding-right: 0px;
}
@media screen and (width >= 768px) {
  .res-y-padding {
    padding-right: 100px;
    padding-left: 100px;
  }
}
@media screen and (width >= 992px) {
  .res-y-padding {
    padding-right: 200px;
    padding-left: 200px;
  }
}

body {
  background-color: #f5f9ff;
  color: #0d1b2e;
  font-family: inter;
  line-height: 1.6em;
}
body a {
  text-decoration: none;
  color: white;
}
body a:hover {
  color: #0076fe;
}

nav {
  background-color: #ffffff;
}
nav .navbar-nav a {
  padding: 4px;
  border-radius: 10px;
  transition: 0.2s;
  color: #0d1b2e;
}
nav .navbar-nav a:hover {
  background-color: rgba(15, 172, 240, 0.5);
  color: dodgerblue;
  transition: 0.2s;
}

.offcanvas .btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
}
.offcanvas .offcanvas-body .text-content {
  padding: 40px;
}
.offcanvas .offcanvas-body form {
  padding: 40px;
}

@media screen and (width >= 576px) {
  .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
    padding: 0px 100px;
  }
}
@media screen and (width >= 768px) {
  .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
    padding: 0px 150px;
  }
}
@media screen and (width >= 992px) {
  .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
    padding: 0px 200px;
  }
}
@media screen and (width >= 1200px) {
  .home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
    padding: 0px 250px;
  }
}
.home-page .hero-section h1, .help .hero-section h1, .news .hero-section h1, .pricing .hero-section h1, .feature .hero-section h1 {
  margin-bottom: 15px;
}
@media screen and (width >= 576px) {
  .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p {
    padding: 0px 100px;
  }
}
@media screen and (width >= 768px) {
  .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p {
    padding: 0px 200px;
  }
}
@media screen and (width >= 992px) {
  .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p {
    padding: 0px 250px;
  }
}
@media screen and (width >= 1200px) {
  .home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p {
    padding: 0px 300px;
  }
}
.home-page .hero-section p, .help .hero-section p, .news .hero-section p, .pricing .hero-section p, .feature .hero-section p {
  margin-bottom: 15px;
}
.home-page .s1, .home-page .help, .help .s1, .help .help, .home-page .news, .help .news, .news .s1, .news .help, .news .news, .home-page .pricing, .help .pricing, .news .pricing, .pricing .s1, .pricing .help, .pricing .news, .pricing .pricing, .home-page .feature, .help .feature, .news .feature, .pricing .feature, .feature .s1, .feature .help, .feature .news, .feature .pricing, .feature .feature {
  flex-direction: column;
  padding: 150px 0px 50px 0px;
}
@media screen and (width >= 576px) {
  .home-page .s1 ul, .home-page .help ul, .help .s1 ul, .help .help ul, .home-page .news ul, .help .news ul, .news .s1 ul, .news .help ul, .news .news ul, .home-page .pricing ul, .help .pricing ul, .news .pricing ul, .pricing .s1 ul, .pricing .help ul, .pricing .news ul, .pricing .pricing ul, .home-page .feature ul, .help .feature ul, .news .feature ul, .pricing .feature ul, .feature .s1 ul, .feature .help ul, .feature .news ul, .feature .pricing ul, .feature .feature ul {
    padding: 0px 100px;
  }
}
@media screen and (width >= 768px) {
  .home-page .s1 ul, .home-page .help ul, .help .s1 ul, .help .help ul, .home-page .news ul, .help .news ul, .news .s1 ul, .news .help ul, .news .news ul, .home-page .pricing ul, .help .pricing ul, .news .pricing ul, .pricing .s1 ul, .pricing .help ul, .pricing .news ul, .pricing .pricing ul, .home-page .feature ul, .help .feature ul, .news .feature ul, .pricing .feature ul, .feature .s1 ul, .feature .help ul, .feature .news ul, .feature .pricing ul, .feature .feature ul {
    padding: 0px 150px;
  }
}
@media screen and (width >= 992px) {
  .home-page .s1 ul, .home-page .help ul, .help .s1 ul, .help .help ul, .home-page .news ul, .help .news ul, .news .s1 ul, .news .help ul, .news .news ul, .home-page .pricing ul, .help .pricing ul, .news .pricing ul, .pricing .s1 ul, .pricing .help ul, .pricing .news ul, .pricing .pricing ul, .home-page .feature ul, .help .feature ul, .news .feature ul, .pricing .feature ul, .feature .s1 ul, .feature .help ul, .feature .news ul, .feature .pricing ul, .feature .feature ul {
    padding: 0px 200px;
  }
}
@media screen and (width >= 1200px) {
  .home-page .s1 ul, .home-page .help ul, .help .s1 ul, .help .help ul, .home-page .news ul, .help .news ul, .news .s1 ul, .news .help ul, .news .news ul, .home-page .pricing ul, .help .pricing ul, .news .pricing ul, .pricing .s1 ul, .pricing .help ul, .pricing .news ul, .pricing .pricing ul, .home-page .feature ul, .help .feature ul, .news .feature ul, .pricing .feature ul, .feature .s1 ul, .feature .help ul, .feature .news ul, .feature .pricing ul, .feature .feature ul {
    padding: 0px 250px;
  }
}
.home-page .s1 li, .home-page .help li, .help .s1 li, .help .help li, .home-page .news li, .help .news li, .news .s1 li, .news .help li, .news .news li, .home-page .pricing li, .help .pricing li, .news .pricing li, .pricing .s1 li, .pricing .help li, .pricing .news li, .pricing .pricing li, .home-page .feature li, .help .feature li, .news .feature li, .pricing .feature li, .feature .s1 li, .feature .help li, .feature .news li, .feature .pricing li, .feature .feature li {
  color: #6a7b93;
}
.home-page .s1 li i, .home-page .help li i, .help .s1 li i, .help .help li i, .home-page .news li i, .help .news li i, .news .s1 li i, .news .help li i, .news .news li i, .home-page .pricing li i, .help .pricing li i, .news .pricing li i, .pricing .s1 li i, .pricing .help li i, .pricing .news li i, .pricing .pricing li i, .home-page .feature li i, .help .feature li i, .news .feature li i, .pricing .feature li i, .feature .s1 li i, .feature .help li i, .feature .news li i, .feature .pricing li i, .feature .feature li i {
  color: #0076fe;
}
.home-page .s1 .img-div, .home-page .help .img-div, .help .s1 .img-div, .help .help .img-div, .home-page .news .img-div, .help .news .img-div, .news .s1 .img-div, .news .help .img-div, .news .news .img-div, .home-page .pricing .img-div, .help .pricing .img-div, .news .pricing .img-div, .pricing .s1 .img-div, .pricing .help .img-div, .pricing .news .img-div, .pricing .pricing .img-div, .home-page .feature .img-div, .help .feature .img-div, .news .feature .img-div, .pricing .feature .img-div, .feature .s1 .img-div, .feature .help .img-div, .feature .news .img-div, .feature .pricing .img-div, .feature .feature .img-div {
  position: relative;
  height: fit-content;
}
.home-page .s1 .img-div img, .home-page .help .img-div img, .help .s1 .img-div img, .help .help .img-div img, .home-page .news .img-div img, .help .news .img-div img, .news .s1 .img-div img, .news .help .img-div img, .news .news .img-div img, .home-page .pricing .img-div img, .help .pricing .img-div img, .news .pricing .img-div img, .pricing .s1 .img-div img, .pricing .help .img-div img, .pricing .news .img-div img, .pricing .pricing .img-div img, .home-page .feature .img-div img, .help .feature .img-div img, .news .feature .img-div img, .pricing .feature .img-div img, .feature .s1 .img-div img, .feature .help .img-div img, .feature .news .img-div img, .feature .pricing .img-div img, .feature .feature .img-div img {
  width: 100%;
  top: 0;
  object-fit: contain;
  z-index: -1;
}
.home-page .s1 .img-div .play, .home-page .help .img-div .play, .help .s1 .img-div .play, .help .help .img-div .play, .home-page .news .img-div .play, .help .news .img-div .play, .news .s1 .img-div .play, .news .help .img-div .play, .news .news .img-div .play, .home-page .pricing .img-div .play, .help .pricing .img-div .play, .news .pricing .img-div .play, .pricing .s1 .img-div .play, .pricing .help .img-div .play, .pricing .news .img-div .play, .pricing .pricing .img-div .play, .home-page .feature .img-div .play, .help .feature .img-div .play, .news .feature .img-div .play, .pricing .feature .img-div .play, .feature .s1 .img-div .play, .feature .help .img-div .play, .feature .news .img-div .play, .feature .pricing .img-div .play, .feature .feature .img-div .play {
  position: absolute;
  height: 5rem;
  width: 5rem;
  background-image: linear-gradient(90deg, #0076fe, #00d372);
  border-radius: 50%;
  color: white;
  font-size: 38px;
}
.home-page .s2, .help .s2, .news .s2, .pricing .s2, .home-page .feature, .help .feature, .news .feature, .pricing .feature, .feature .s2, .feature .feature {
  padding: 110px 0px;
}
.home-page .s2 .header-section, .help .s2 .header-section, .news .s2 .header-section, .pricing .s2 .header-section, .home-page .feature .header-section, .help .feature .header-section, .news .feature .header-section, .pricing .feature .header-section, .feature .s2 .header-section, .feature .feature .header-section {
  text-align: center;
}
.home-page .s2 .content .item, .help .s2 .content .item, .news .s2 .content .item, .pricing .s2 .content .item, .home-page .feature .content .item, .help .feature .content .item, .news .feature .content .item, .pricing .feature .content .item, .feature .s2 .content .item, .feature .feature .content .item {
  height: 100%;
  padding: 30px;
}
@media only screen and (width >= 768px) {
  .home-page .s2 .content .item, .help .s2 .content .item, .news .s2 .content .item, .pricing .s2 .content .item, .home-page .feature .content .item, .help .feature .content .item, .news .feature .content .item, .pricing .feature .content .item, .feature .s2 .content .item, .feature .feature .content .item {
    padding: 50px;
  }
}
.home-page .s2 .content .item, .help .s2 .content .item, .news .s2 .content .item, .pricing .s2 .content .item, .home-page .feature .content .item, .help .feature .content .item, .news .feature .content .item, .pricing .feature .content .item, .feature .s2 .content .item, .feature .feature .content .item {
  border-radius: 10px;
}
.home-page .s2 .content .item .icon, .help .s2 .content .item .icon, .news .s2 .content .item .icon, .pricing .s2 .content .item .icon, .home-page .feature .content .item .icon, .help .feature .content .item .icon, .news .feature .content .item .icon, .pricing .feature .content .item .icon, .feature .s2 .content .item .icon, .feature .feature .content .item .icon {
  height: 80px;
  width: 80px;
  background-color: #f5f9ff;
  color: "";
  font-size: 38px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.home-page .s2 .content .item h5, .help .s2 .content .item h5, .news .s2 .content .item h5, .pricing .s2 .content .item h5, .home-page .feature .content .item h5, .help .feature .content .item h5, .news .feature .content .item h5, .pricing .feature .content .item h5, .feature .s2 .content .item h5, .feature .feature .content .item h5 {
  font-size: 20px;
  font-weight: 600;
}
.home-page .s2 .content .item p, .help .s2 .content .item p, .news .s2 .content .item p, .pricing .s2 .content .item p, .home-page .feature .content .item p, .help .feature .content .item p, .news .feature .content .item p, .pricing .feature .content .item p, .feature .s2 .content .item p, .feature .feature .content .item p {
  font-size: 16px;
  color: #6a7b93;
  font-weight: 400;
  line-height: 1.6em;
}
.home-page .section-navbar, .help .section-navbar, .news .section-navbar, .pricing .section-navbar, .feature .section-navbar {
  position: sticky;
  top: 50px;
}
@media screen and (width >= 992px) {
  .home-page .section-navbar, .help .section-navbar, .news .section-navbar, .pricing .section-navbar, .feature .section-navbar {
    top: 50px;
  }
}
.home-page .section-navbar a, .help .section-navbar a, .news .section-navbar a, .pricing .section-navbar a, .feature .section-navbar a {
  font-size: 16px;
  padding: 20px 0px 10px 0px;
  color: #0d1b2e;
  transition: 0.2s;
}
.home-page .section-navbar a:hover, .help .section-navbar a:hover, .news .section-navbar a:hover, .pricing .section-navbar a:hover, .feature .section-navbar a:hover, .home-page .section-navbar a:focus, .help .section-navbar a:focus, .news .section-navbar a:focus, .pricing .section-navbar a:focus, .feature .section-navbar a:focus {
  border-bottom: 2px solid #0076fe;
  color: #0076fe;
  transition: 0.2s;
}
.home-page .s3, .help .s3, .news .s3, .pricing .s3, .feature .s3 {
  padding: 250px 0px;
}
.home-page .s3 .sub-section, .help .s3 .sub-section, .news .s3 .sub-section, .pricing .s3 .sub-section, .feature .s3 .sub-section {
  scroll-margin-top: 150px;
}
.home-page .s4, .help .s4, .news .s4, .pricing .s4, .feature .s4 {
  padding: 50px 0px;
  background-color: #0d1b2e;
}
.home-page .s4 .details a button, .help .s4 .details a button, .news .s4 .details a button, .pricing .s4 .details a button, .feature .s4 .details a button {
  background-image: linear-gradient(90deg, #0076fe, #00d372);
}
.home-page .s4 .image-wrap .item, .help .s4 .image-wrap .item, .news .s4 .image-wrap .item, .pricing .s4 .image-wrap .item, .feature .s4 .image-wrap .item {
  padding: 20px;
  background-color: none;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -7px balck;
  position: relative;
  top: 0;
  transition: 0.2s;
}
.home-page .s4 .image-wrap .item:hover, .help .s4 .image-wrap .item:hover, .news .s4 .image-wrap .item:hover, .pricing .s4 .image-wrap .item:hover, .feature .s4 .image-wrap .item:hover {
  top: -10px;
  transition: 0.2s;
}
.home-page .s4 .image-wrap .icon, .help .s4 .image-wrap .icon, .news .s4 .image-wrap .icon, .pricing .s4 .image-wrap .icon, .feature .s4 .image-wrap .icon {
  height: 50px;
  width: 50px;
  background-color: inherit;
  color: inherit;
  font-size: 2rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page .s4 .image-wrap .icon:hover, .help .s4 .image-wrap .icon:hover, .news .s4 .image-wrap .icon:hover, .pricing .s4 .image-wrap .icon:hover, .feature .s4 .image-wrap .icon:hover {
  background-color: #0076fe;
}
.home-page .s5, .help .s5, .news .s5, .pricing .s5, .feature .s5 {
  padding: 100px 0px;
}
.home-page .s6, .help .s6, .news .s6, .home-page .pricing, .help .pricing, .news .pricing, .pricing .s6, .pricing .pricing, .feature .s6, .feature .pricing {
  padding: 100px 0px;
}
.home-page .s7, .help .s7, .news .s7, .pricing .s7, .feature .s7 {
  padding: 100px 0px;
}
.home-page .footer, .help .footer, .news .footer, .pricing .footer, .feature .footer {
  padding: 0px 0px;
}
.home-page .footer .item, .help .footer .item, .news .footer .item, .pricing .footer .item, .feature .footer .item {
  flex: 1;
}
.home-page .footer .item-large, .help .footer .item-large, .news .footer .item-large, .pricing .footer .item-large, .feature .footer .item-large {
  flex: 3;
}

.feature .content .item {
  height: 100%;
  padding: 30px;
}
@media only screen and (width >= 768px) {
  .feature .content .item {
    padding: 50px;
  }
}
.feature .content .item {
  border-radius: 10px;
}
.feature .content .item .icon {
  height: 80px;
  width: 80px;
  background-color: #f5f9ff;
  color: "";
  font-size: 38px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.feature .content .item h5 {
  font-size: 20px;
  font-weight: 600;
}
.feature .content .item p {
  font-size: 16px;
  color: #6a7b93;
  font-weight: 400;
  line-height: 1.6em;
}
.feature .s3 {
  padding: 250px 0px;
}
.feature .feature-s1 {
  padding: 90px 0px;
}
.feature .footer .foot-hero {
  padding: 60px 0px;
}

.pricing .s6, .pricing .pricing {
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0), 50%, rgb(255, 255, 255) 50%);
  padding: 40px 0px 90px;
}
.pricing .my-table {
  padding: 50px 0px;
}
.pricing .my-table .row {
  padding: 10px;
}
.pricing .my-table .col-6 {
  padding: 10px 0px;
  font-weight: 600;
}
.pricing .my-table .col-6 p {
  padding-right: 30%;
}
.pricing .my-table .col-2 {
  padding: 10px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing .foot-hero {
  padding: 60px 0px;
}

.news .content {
  padding: 50px 0px;
}
.news .content .left-content {
  position: sticky;
  top: 80px;
}
.news .content .left-content .searching i {
  font-size: 1.5rem;
  padding: 0;
  position: absolute;
  top: 57px;
  right: 20px;
}
.news .content .left-content .item a {
  color: black;
}
.news .content .left-content .item:hover a {
  color: #0076fe;
}
.news .content .right .item {
  min-width: 350px;
}
.news .content .right .item .image img {
  transition: 0.2s;
}
.news .content .right .item .image img:hover {
  scale: 1.02;
}
.news .content .right a {
  color: black;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 4px;
  border-radius: 10px;
  transition: 0.2s;
  color: #0d1b2e;
}
.news .content .right a:hover {
  background-color: rgba(15, 172, 240, 0.5);
  color: dodgerblue;
  transition: 0.2s;
}

.help .content {
  padding: 50px 0px;
}
.help .list {
  position: sticky;
  top: 350px;
}
.contact .header {
  padding: 150px 0px 50px 0px;
}
.contact .feature-s1 {
  padding: 80px 0px;
}
.contact .content .item {
  height: 100%;
  padding: 30px;
}
@media only screen and (width >= 768px) {
  .contact .content .item {
    padding: 50px;
  }
}
.contact .content .item {
  border-radius: 10px;
}
.contact .content .item .icon {
  height: 80px;
  width: 80px;
  background-color: #f5f9ff;
  color: "";
  font-size: 38px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;
}
.contact .content .item h5 {
  font-size: 20px;
  font-weight: 600;
}
.contact .content .item p {
  font-size: 16px;
  color: #6a7b93;
  font-weight: 400;
  line-height: 1.6em;
}

/*# sourceMappingURL=style.css.map */
